<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-md-12 text-center" id="navbar">
        <div class="col-md-6">
            <a class="nav-link" [routerLink]="['/welcome']" [routerLinkActive]="['active']">Inicio</a>
        </div>
        <div class="col-md-6">
            <a class="nav-link" [routerLink]="['/members']" [routerLinkActive]="['active']">Usuarios</a>
        </div>
    </div>
</nav>