<form style="display: flex; flex-direction: column" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" >
    
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="form.controls['firstName'].hasError('minlength')">Ingrese más de 1 caracter</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="form.controls['lastName'].hasError('minlength')">Ingrese más de 1 caracter</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="form.controls['address'].hasError('minlength')">Ingrese más de 1 caracter</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>SSN</mat-label>
        <input matInput formControlName="ssn" placeholder="###-##-####">
        <mat-error *ngIf="form.controls['ssn'].hasError('pattern')">Sólo números en formato ###-##-####</mat-error>
        <mat-error *ngIf="form.controls['ssn'].hasError('duplicated')">SSN duplicado</mat-error>
        <mat-error *ngIf="form.controls['ssn'].hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button mat-raised-button color="primary" type="reset">Limpiar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
    </div>
    
</form>